extends layout

block content
	h2 Microsoft GitHub Contributions
	//-- h3 Authenticated Access
	//-- p.lead.
		Get a look at employee contributions to a specific Microsoft repository below. 
		To get started, you'll need to authenticate and have push access to any non-private repos.
	//-- .text-left
		form(action="login" method="POST")
			.form-group
				label(for="user") Username
				input(type="text" placeholder="JohnSmith" name="user").form-control#user
			.form-group
				label(for="pass") Password
				input(type="password" placeholder="Password" name="pass").form-control#pass
			.text-center
				button(type="submit").btn.btn-primary Login
	//--hr
	h3 Authenticated Access as James Earle
	p.lead.
		If you don't want to authenticate, you can still view public repositories using the form below.
	.text-left
		form(action="submit" method="POST")
			.form-group
				label(for="user") Username
				input(type="text" placeholder="JohnSmith" name="user").form-control#user
			.form-group
				label(for="org") Organization
				input(type="org" placeholder="MicrosoftDocs" name="org").form-control#org
			.text-center
				button(type="submit").btn.btn-primary Login
		if message
			hr
			h3.title #{message}
		if name
			hr
			h3.title Results for #{name}
			ul
				each row in contribs
					li
						span #{row.repo} - 					
						span #{row.contribs} contributions.
