extends layout

block content
  h2 Microsoft GitHub Contributions
  p.lead.
    Get a look at employee contributions to a specific Microsoft repository below. 
    To get started, you'll need to authenticate and have push access to any non-private repos.
  p.lead.
    See if a specific user is a member of an org below.
  .text-left
    form(action="submit" method="POST")
      .form-group
        label(for="user") Username
        input(type="text" placeholder="JohnSmith" name="user" value="JamesEarle").form-control#user
      .form-group
        label(for="org") Organization Name
        input(type="text" placeholder="Organization" name="org" value="Microsoft").form-control#org
      .text-center
        button(type="submit").btn.btn-primary Login
    hr
    h3.title #{result}